[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE/
	branch = develop
[submodule "modules/melatonin_inspector"]
	path = modules/melatonin_inspector
	url = https://github.com/sudara/melatonin_inspector.git
	branch = main
[submodule "cmake"]
	path = cmake
	url = https://github.com/sudara/cmake-includes.git
	branch = main
[submodule "modules/farbot"]
	path = modules/farbot
	url = git@github.com:vberthiaume/farbot.git
[submodule "modules/DebugLog"]
	path = modules/DebugLog
	url = git@github.com:vberthiaume/DebugLog.git
