[submodule "submodules/JUCE"]
	path = submodules/JUCE
	url = https://github.com/WeAreROLI/JUCE.git
[submodule "submodules/VST2_SDK"]
	path = submodules/VST2_SDK
	url = https://github.com/vberthiaume/VST2_SDK.git
